<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/index.css">
    <link rel="stylesheet" href="../src/lib/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../Assets/icons/eagle.png" type="image/x-icon"> <!--Favicons-->
    <title>Productos</title>
</head>

<body>

    <header>
        <nav class="container-fluid bg">
          <img class="Falcon" src="Assets/icons/eagle.png" alt="">
          <div class="logo">FitFalcon</div>
          <div class="nav-links">
            <a href="#">Inicio</a>
            <a href="#">Categorias</a>
            <a href="#">Productos</a>
          </div>
          <div class="search-cart">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"">
                    <button id=" Cart" class="cart-icon btn btn-dark">🛒</button>
          </div>
        </nav>
      </header>






    <script src="../src/lib/js/bootstrap.min.js"></script>
    <script src="src/js/cart.js"></script>
</body>

</html>